/vendor
/node_modules
/public/storage
/public/actividades
/public/contratos
/public/page-cache
public/estadisticas-xml
public/estadisticas-xml/*
public/img/blog/*
public/img/*
public/img/excursions/*
/public/img/miramarski/contents/*
public/img/miramarski/apartamentos/*

Homestead.yaml
Homestead.json
.env
/.phpintel
/.idea
test.blade.php
/nbproject/private/
.htaccess
storage

nbproject
